.fork-me-box {
    position: absolute;
    top: 36px;
    left: 29px;
    z-index: 99;
}

.fork-me-text {
    font-family: 'VT323', ;
    font-size: 18px;
    width: 200px;
    -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}

h1 {
    font-size: 10vw;
    font-weight: 200;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 14px;
}

.header-margin-top {
    margin-top: 50px;
}

.search-box {
    color: #000;
    width: 100%;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
}

.flex-container {
    padding: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-flow: row wrap;
}

.flex-item {
    width: 50%;
    padding: 10px;
}

@media screen and (min-width: $screen-sm) {
    h1 {
        font-size: 100px;
    }

    h3 {
        font-size: 28px;
        font-weight: 400;
    }

    p {
        font-size: 16px;
    }

    .header-margin-top {
        margin-top: 50px;
    }

    .flex-item {
        width: 25%;
    }
}
