h1 {
    font-size: 50px;
    font-weight: 200;
}

.header-margin-top {
    margin-top: 50px;
}

@media screen and (min-width: $screen-sm) {
    h1 {
        font-size: 100px;
    }

    .header-margin-top {
        margin-top: 50px;
    }
}
